<div class="row">

  <div class="col-sm-3 col-sm-offset-1">
    <h1>Contacts</h1>
    <p>
      <%= link_to root_path do %>
        <%= fa_icon 'plus', text: 'Add Contact' %>
      <% end %>
    </p>
    <% @user.contacts.each do |contact| %>
      <%= contact.full_name_with_phone %>
      <hr>
    <% end %>
  </div>
  <div class="col-sm-3">
    <h1>Send a message</h1>
    <%= render 'messages/form' %>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <h1>Groups</h1>
    <p>
      <%= link_to root_path do %>
        <%= fa_icon 'plus', text: 'Add Group' %>
      <% end %>
    </p>
    <% @user.groups.each do |group| %>
      <%= group.name %><br>
      <ul>
            <% group.contacts.each do |contact| %>
            <li>  <%= contact.first_name %>
              <%= contact.last_name %> |
              <%= contact.phone_number %>
              <%= link_to 'Del',group_contact_path(group, contact), method: :delete, data: {confirm: 'Are you sure?'} %>
            </li>
            <% end %>
      </ul>
      <hr>
    <% end %>
  </div>

</div>
